$primary:#2c3e50;
$secondary: #d35400;
@import "~bootstrap/scss/bootstrap";
@mixin tvreminderGradient($color1:$primary,$color2:$primary) {
  background: linear-gradient(90deg,$color1, $color2 100%);
}
html {
  height: 100%;
}
body {
  color: $primary;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  &#main {
    background: #f4f4f4;
  }
  &#login-register {
    background: rgb(44,62,80);
    background: -moz-linear-gradient(94deg, rgba(44,62,80,1) 50%, rgba(58,82,106,1) 50%, rgba(44,62,80,1) 100%);
    background: -webkit-linear-gradient(94deg, rgba(44,62,80,1) 50%, rgba(58,82,106,1) 50%, rgba(44,62,80,1) 100%);
    background: linear-gradient(94deg, rgba(44,62,80,1) 50%, rgba(58,82,106,1) 50%, rgba(44,62,80,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2c3e50",endColorstr="#2c3e50",GradientType=1); 
  }
}

.btn {
  border:1px solid #ccc;
}

button {
  &.link {
    background:none!important;
    color:inherit;
    border:none; 
    padding:0!important;
    font: inherit;
    /*border is optional*/
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}

.page {
  background: #fff;
  &.login {
    min-height: 300px;
    border-radius: 7px;
    border:1px solid #ccc;
  }
  min-height: 1000px;
  overflow: hidden;
}
.topbar {
  //background: $primary;
  background:#fff;
  height: 50px !important;
  line-height: 50px;
  &.second-topbar {
    background: $primary;
    color: #fff;
    height: 40px !important;
  }
  .logo {
    height: 50px;
  }
}
.header {
  min-height: 50px;
  @include tvreminderGradient($primary,$secondary);
}
.user {
  padding: 9px;
  font-size: 16px;
  color: #fff;
}
.circle {
  background: #fff;
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 16px;
  color: #333333;
  text-align: center;
}
.header-area {
  width: 100%;
  height: 50px;
}


ul {
  &.user-menu {
    .section-title {
      font-size:12px;
      padding: 5px 10px;
      color:#fff;
      background:$secondary;
    }
    .list-group-item {
      border:0;
    }
  }
}
.form-group {
  padding-bottom: 20px;
  border-bottom: 1px solid #f2f2f2;
}
.form-group,.form-check {
  
  label,.hint {
    text-transform: uppercase;
    font-size: 12px;
  }
  label {
    font-weight: bold;
    @extend .m-0;
    @extend .p-0;
  }
  .hint {
    color: #ccc;
    &:before {
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      content: "\f054 ";
    }
  }
}

.btn-gradient {
  &:hover {
    @include tvreminderGradient(#9B51E0,#EB5757);
  }
  @include tvreminderGradient();
  color: #fff;
}
.items {
  .card {
    border: 0;
    margin:5px 0;
  }
}

