body {
  background: #f2f2f2;
}
.page {
  background: #fff;
}
.topbar {
  background: #333;height: 50px !important;
}
.header {
  min-height: 50px;
  background: linear-gradient(90deg, #EB5757 0%, #9B51E0 100%);
}
.user {
  padding: 9px;
  font-size: 16px;
  color: #fff;
}
.circle {
  background: #fff;
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 16px;
  color: #333333;
  text-align: center;
}
.header-area {
  width: 100%;
  height: 50px;
}